body {
    display: flex;
    justify-content: center;
    color: #333333;
    background-color: #FFFFFF;
    font-family: avenir;
}

.container {
  background-color: #fae56b;
  justify-content: center;
  width: 100%;
  padding: 20px;
  padding-bottom: 50px;
  margin-top: 60px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#heading {
  width: 100%;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#heading i {
  position: fixed;
  font-size: 0.8em;
  margin-top: 0.35rem;
  margin-left: 0.3rem;
  margin-right: 3rem;
}

.box-mid {
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
    color: #FFFFFF;
}

.tasksLeft {
  text-align: center;
  margin-top: 5px;
}

footer p {
  font-size: 0.8em;
  text-align: center;
}

button {
  padding: 5px 5px 1px 5px;
}